### Test-train split

In [13]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = \
train_test_split(news1['Body+Headline'],news1['label'] ,test_size=0.33,random_state=7)

print(len(X_train), len(X_test), len(X_train) + len(X_test))

4244 2091 6335

### Creating Document term matrix

In [23]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

In [24]:
cv=CountVectorizer(analyzer='word')

In [25]:
count_train = cv.fit_transform(X_train)
count_test = cv.transform(X_test)

In [26]:
count_df=pd.DataFrame(count_train.A, columns=cv.get_feature_names())

In [27]:
count_df.head()

,aa,aaa,aaaa,aaaaadd,aaaasetlayoutnew,aab,aachen,aadhar,aae,aahing,...,zuylenwood,zvai,zvezda,zvi,zvulun,zweiter,zwick,zwicker,zwischenmenschlicher,zyuganov
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
tfidf_vectorizer=TfidfVectorizer()

tfidf_train = tfidf_vectorizer.fit_transform(X_train)
tfidf_test = tfidf_vectorizer.transform(X_test)

#### TF-IDF will also yield the same dataframe as of count vectoizer